* {
  box-sizing: border-box;
  font-size: 1em;
  -webkit-user-select: none;
}
body {
  color: lightgray;
  background-color: rgb(50, 50, 50);
}
.container {
  margin: 0 auto;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 1000px;
 }
.element {
  margin: 0.5em 0;
  max-width: 600px;
}
button {
  width: 250px;
  height: 50px;
  margin: 1em 0;
  border: 0;
  border-radius: 2px;
}
.password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.password::before {
  display: inline-block;
  box-sizing: border-box;
  content: "";
  height: 50px;
  padding: 10px;
  padding-right: 0;
  border-left: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.password::after {
  display: inline-block;
  box-sizing: border-box;
  content: "";
  height: 50px;
  padding: 10px;
  padding-left: 0;
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.password:focus {
  outline: none;
}
.password strong {
  display: inline-block;
  color: whitesmoke;
  text-align: center;
  width: 229px;
  font-family: monospace;
  font-size: 20px;
  -webkit-user-select: all;
}
fieldset input {
  margin-bottom: 0.2em;
}
fieldset {
  width: 100%;
  max-width: 600px;
  border: 1px solid lightgray;
  color: lightgray;
  margin: 0.5em 0;
  padding-left: 0;
  padding-right: 0;
}
legend {
  padding: 0 6px;
  margin-left: 6px;
}
.switch-wrapper {
  display: flex;
  justify-content: space-between;
  margin: -0.1em;
}
.switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  font-size: 0.9em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.switch label {
  margin: 0 auto;
  pointer-events: none;
}
input[type="text"], input[type="password"] {
  width: 250px;
  height: 45px;
  background: black;
  color: whitesmoke;
  border: 0;
  border-radius: 2px;
  padding: 5px;
  outline-offset: 0;
}
input.focused {
  outline: 1px solid lightgray;
}
input[type="password"]:disabled {
  filter: opacity(20%);
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: lightgray;
  border: 3px solid lightgray;
  border-radius: 50%;
  padding: 4px;
  pointer-events: none;
}
input[type="radio"]:enabled {
  background-color: lightgray;
  border: 3px solid lightgray;
}
input[type="radio"]:disabled {
  filter: opacity(20%);
}
input[type="radio"]:checked {
  background-color: black;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.keyboard {
  margin: 0.5em 0;
  max-width: 600px;
}
.kbrow {
  display: flex;
  justify-content: center;
 }
.keyb {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  padding-bottom: 0.5em;

  width: 8.8vw;
  height: 2em;
  margin: 2px;
  text-align: center;
  font-family: monospace;
  font-size: 20px;

  box-sizing: content-box;
  background: rgb(90, 90, 90);
  color: whitesmoke;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}
.keyb:active {
  background-color: rgb(50, 50, 50);
}
.keyb-prim {
}
.keyb-upper {
  text-transform: uppercase;
}
.keyb-alt {
  color: orange;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 11px;
}
.keyb-prim.keyb-alt {
  top: 7px;
  right: 7px;
  font-size: 1em;
}
.shift {
  height: unset;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='none' height='256' width='256'/%3E%3Cpolygon fill='none' points='80 140 128 92 176 140 152 140 152 172 104 172 104 140 80 140' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='7'/%3E%3C/svg%3E");
  background-size: 52px;
  background-repeat: no-repeat;
  background-position-x: center;
}
.alt {
  color: orange;
}
.backspace {
  height: unset;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.2em;
}
.space {
}
.collapsible {
  display: flex;
  width: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: white;
  background-color: rgb(90, 90, 90);
  border-radius: 2px;
  padding: 3px 10px;
}
.collapsible-msg.open::before {
  content: "⊟";
  padding-right: 5px;
  font-size: large;
}
.collapsible-msg.closed::before {
  content: "⊞";
  padding-right: 5px;
  font-size: large;
}
.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 80%);
  margin-top: -1em;
}
.spinner {
  display: inline-block;
}
.spinner:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 6px solid whitesmoke;
  border-color: whitesmoke transparent whitesmoke transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
