* {
  font-size: 1em;
}
body {
  background-color: rgb(27, 27, 27);
  color: gray;
}
.container {
  margin: 0 auto;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 1000px;
 }
fieldset {
  margin: 1em 0;
  border: 1px solid;
}
fieldset input {
  margin-bottom: 0.2em;
}
.element {
  margin: 1em 0;
  max-width: 600px;
}
.full-width {
  width: 95%;
}
.password {
  height: 2em;
}
.password::before {
  content: "";
  padding-left: 0.5em;
  border-left: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.password::after {
  content: "";
  padding-right: 0.5em;
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.password:focus {
  outline: none;
}
.password strong {
  display: inline-block;
  text-align: center;
  width: 13.5em;
  font-family: monospace;
  font-size: 16px;
}
.switch-wrapper {
  display: flex;
  justify-content: space-between;
}
.switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
input[type="text"] {
  width: 14em;
}
input[type="password"] {
  width: 14em;
}
input[type="password"]:disabled {
  filter: opacity(20%);
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  border-radius: 50%;
  padding: 4px;
}
input[type="radio"]:enabled {
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
}
input[type="radio"]:disabled {
  filter: opacity(20%);
}
input[type="radio"]:checked {
  background-color: rgb(27, 27, 27);
}
label {
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: center;
 }
.hidden {
  visibility: hidden;
}
.keyb {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  padding-bottom: 0.5em;

  width: 8.8vw;
  height: 2.5em;
  margin: 2px;
  text-align: center;
  font-family: monospace;
  font-size: 16px;

  background: black;
  color: whitesmoke;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
}
.keyb:active {
  background-color: rgb(59, 59, 59);
}
.keyb-prim {
}
.keyb-upper {
  text-transform: uppercase;
}
.keyb-alt {
  color: orange;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 11px;
}
.keyb-prim.keyb-alt {
  top: 7px;
  right: 7px;
  font-size: 1em;
}
.shift {
  height: unset;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='none' height='256' width='256'/%3E%3Cpolygon fill='none' points='80 140 128 92 176 140 152 140 152 172 104 172 104 140 80 140' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='7'/%3E%3C/svg%3E");
  background-size: 55px;
  background-repeat: no-repeat;
  background-position-x: center;
}
.alt {
  color: orange;
}
.backspace {
  height: unset;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 0.8em;
}
.space {
}
